button {
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	text-transform: $button-text-transform;
	letter-spacing: $button-letter-spacing;
	color: $button-text-color;
	background-color: $button-background-color;
	border-color: $button-border-color;
	border-width: $button-border-width;
	border-radius: $button-border-radius;
	&:hover {
		color: $button-color-hover;
		background-color: $button-background-color-hover;
		border-color: $button-border-color-hover;
	}
}

a.button {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 16px 0;
	padding: 7px 20px;
	color: $button-text-color;
	background: $button-background-color;
	border: $button-border-width solid $button-border-color;
	border-radius: $button-border-radius;
	transition: all 0.2s;

	&:hover {
		color: $button-color-hover;
		background: $button-background-color-hover;
		border-color: $button-border-color-hover;
	}
}
