{#
	Normalizes the Custom Google Fonts field value into singular WebFontLoader 
	entries. The reason we need to do this is because the UI only provides a 
	single text field to enter values and there are a large number of ways/formats 
	designers have used this field – various formats, multiple fonts per field, etc 
	etc. There are also some quirks (listed below) that make the input/output not 
	always behave the way it should...or the way that its documented that it should. 
	Please review the below documentation carefully to see what the different 
	scenarios are and how we are individually addressing each.

	IMPORTANT: This macro does not directly output/return anything. It is intended 
	to be used with a `{% do normalize_custom_google_font() %}` so that it can update 
	the `list` array reference.

	GOOGLE FONTS AND WEBFONTLOADER QUIRKS (Not sure who is responsible for each quirk)

	- Some fonts can be added by just their name. (ie...Roboto, Open+Sans). 
	  Others can't and require at least one font-weight/style. (ie...Open+Sans+Condensed:300)
	- Some fonts can have a subset without font-weights/styles (ie...Open+Sans::latin-ext), 
	  Others can't and require at least one font-weight/style. (ie...Open+Sans+Condensed:300:latin-ext)
	- Google assumes subsets added via `&amp;subset=` can be applied to any family in the pipe-sparated list. 
	  I don't know how it figures out what to do, but it appears it will ignore any subsets on fonts that 
	  don't support that subset.
	
	@access public
	@param {String} font 				- The value entered into the Custom Fonts > Google repeater field.
	@param {List} list					- The current `google_fonts` array created in `templates/_layouts/_base.html`.
#}
{% macro normalize_custom_google_font(font, list) -%}
	{%- if font and ((list is defined) and (list is iterable)) -%}
		{#- normalize all tick marks (') to quotes -#}
		{%- set font = font|replace("'", "\"") -%}
		
		{#-
			MULTIPLE FAMILES SEPARATED BY PIPE WITH OPTIONAL `&subset=latin-ext,greek,vietnamese`
			`Alegreya+Sans:300,400,700|Cardo:400,400i,700|Yantramanav:300,400,700`
			Please note, per the Google Fonts and WebfontLoader doumentation, this should work 
			just fine...and for a while, did. It inexplicibly stopped working, so we aren't going 
			to count on Google Fonts or the loader to get this right. We're gonna do all of our 
			own normalization and formatting here, and ensure we're always providing the loader 
			with singular font entries.
		-#}
		{%- if "|" in font -%}
			{%- set font = font|replace("\"", "")|replace("&amp;", "&") -%}

			{#- If someone copied the `&amp;subset=` part directly from Google Fonts, even though 
				this "should" work – we have a lot of work to do because it doesn't. :(
			-#}
			{%- if "&subset=" in font -%}
				{%- set components = font.split("&subset=") -%}
				{#- create array of families -#}
				{%- set families = (components.0).split("|") if (components|length > 0) else "" -%}
				{#  captures subsets #}
				{%- set subsets = components.1|trim if (components|length == 2) else false -%}

				{#- loop through all the families and attempt to figure out their formatting 
					and fix where necessary. -#}
				{%- for family in families -%}
					{%- set font_segments = family.split(":") -%}
					{%- set font_segments_total = font_segments|length -%}
					{#-
						FAMILY ONLY: `Open+Sans`
						- Add subsets (if defined) after a double colon.
					-#}
					{%- if font_segments_total == 1 -%}
						{%- set gfont = font_segments.0|trim -%}
						{%- set gsubsets = ("::" ~ subsets) if subsets else "" -%}
						{%- do list.append("\"" ~ gfont ~ gsubsets  ~ "\"") -%}

					{#-
						FAMILY AND WEIGHTS: `Open+Sans:300`
						- Add segments to array in their specific slots.
						- If subsets are defined, add them as the 3rd slot.
						- Join with a single colon.
					-#}
					{%- elif font_segments_total == 2 -%}
						{%- set gfont = [font_segments.0|trim, font_segments.1|trim] -%}
						{%- if subsets -%}{%- do gfont.append(subsets) -%}{%- endif -%}
						{%- do list.append("\"" ~ gfont|join(":")  ~ "\"") -%}

					{#-
						FAMILY, WEIGHTS/STYLES, SUBSETS: `Open+Sans:300:latin-ext` or `Open+Sans::latin-ext`
						- Add family and weights/styles to array in their specific slots.
						- If subsets are defined, append them to the subset-segment directly, 
						  join them with a comma (",") and then append it to our initial array 
						  which puts subsets it in the 3rd slot.
						- Join with a single colon. If weights/styles are empty for some reason, 
						  you will automatically get a double colon (::), which is a good thing.
					-#}
					{%- elif font_segments_total == 3 -%}
						{%- set gfont = [font_segments.0|trim, font_segments.1|trim] -%}
						{%- set gsubsets = [font_segments.2|trim] -%}
						{%- if subsets -%}{%- do gsubsets.append(subsets) -%}{%- endif -%}
						{%- do gfont.append(gsubsets|join(",")) -%}
						{%- do list.append("\"" ~ gfont|join(":")  ~ "\"") -%}

					{%- endif -%}
				{%- endfor -%}

			{#- 
				Pipes exist (copied from Google Fonts), but no subsets are included via `&amp;subset=`. 
				In this scenario, we have to assume the formats of each font entry is correct and valid.
			-#}
			{%- else -%}
				{%- set segments = font.split("|") -%}
				{%- for seg in segments -%}
					{%- set gfont = seg|replace("\"", "")|trim -%}
					{%- do list.append("\"" ~ gfont  ~ "\"") -%}
				{%- endfor -%}
			
			{%- endif -%}
			
		{#- 
			If this wasn't copied directly from Google Fonts > Embed, there are a couple of 
			different ways that this "could" be entered. So, we have to figure out which format 
			this is entered in, and normalize it back to a standard single entry.
		-#}
		{%- else -%}
			{#-
				MULTIPLES FAMILES ENTERED AS ARRAY: LEGACY/BACKWARDS-COMPATIBILITY PATCH
				`'Shrikhand::latin', 'Work+Sans::latin'`
				If value is an "array", we're going to split this up into individual 
				entries, normalize the output by stripping any remaining quotes (""), 
				trim it, and then wrap it back in quotes ("") so its a valid string 
				to be placed in the array.
			-#}
			{%- if "\"," in font -%}
				{%- set segments = font.split("\",") -%}
				{%- for seg in segments -%}
					{%- set gfont = seg|replace("\"", "")|trim -%}
					{%- do list.append("\"" ~ gfont  ~ "\"") -%}
				{%- endfor -%}

			{#-
				SINGLE FAMILY PER ENTRY: RECOMMENDED!!!
				`Open+Sans+Condensed:300,700:cyrillic`
				If this appears to be entered correctly and as a singular font family 
				entry – we have to normalize its output by stripping any quotes (""), 
				trim it, and then wrap it back in quotes ("") so its a valid javascript 
				string to be placed in the array.
			-#}
			{%- else -%}
				{%- set gfont = font|replace("\"", "")|trim -%}
				{%- do list.append("\"" ~ gfont  ~ "\"") -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}
{%- endmacro %}

{# ============================================================================
================== SOCIAL PLATFORMS  ==========================================
============================================================================= #}

{% set social_attributes = ["facebook", "linkedin", "youtube", "spotify", "instagram", "foursquare", "yelp", "google_plus", "tripadvisor", "pinterest"] %}
{% set additional_attributes = ["twitter", "social_icon_email_address"] %}
{% set social_attributes_extended = social_attributes + additional_attributes %}

{%- set social_icons = [
  {"key": "twitter", "name": "Twitter", "icon": "fa-twitter-square" },
  {"key": "facebook", "name": "Facebook", "icon": "fa-facebook-square" },
  {"key": "instagram", "name": "Instagram", "icon": "fa-instagram" },
  {"key": "tripadvisor", "name": "TripAdvisor",	"icon": "fa-tripadvisor" },
  {"key": "foursquare", "name": "Foursquare", "icon": "fa-foursquare" },
  {"key": "yelp", "name": "Yelp", "icon": "fa-yelp" },
  {"key": "google_plus", "name": "Google+", "icon": "fa-google-plus-square" },
  {"key": "social_icon_email_address", "name": "Email",		"icon": "fa-envelope" },
  {"key": "youtube", "name": "Youtube", "icon": "fa-youtube" },
  {"key": "spotify", "name": "spotify", "icon": "fa-spotify" },
  {"key": "linkedin", "name": "LinkedIn", "icon": "fa-linkedin" },
  {"key": "pinterest", "name": "Pinterest", "icon": "fa-pinterest" }
  ]
-%}

{% macro get_social_icon(social_key) -%}
  {%- set item = social_icons|selectattr("key", "equalto", social_key)|first %}
  {{- item["icon"] }}
{%- endmacro %}

{# ============================================================================
================== WEBSITE SETTINGS  ==========================================
============================================================================= #}

{% set _account_settings_attributes = {
      "site_title": account.site.title,
      "logo": account.logo,
      "logo_alt_text": account.logo_alt_text,
      "favicon": account.site.favicon,
}
%}
{% set _website_settings = website.website_settings %}

{#
      Gets a site attribute of the site by matching the attribute name,
      it looks in two places: the website settings attached to the website data and the account data

      @access public
      @param {Strins} attribute 		- The attribute name
      @returns {String} 				- The value of the site attribute.
#}

{% macro _get_site_attribute(attribute, social_attribute=False, account_fallback=False) -%}
      {%- if _website_settings -%}
            {%- if social_attribute -%}
                  {%- if account_fallback -%}
                    {{- (_website_settings.social_urls and _website_settings.social_urls[attribute]) or (account.services and account.services[attribute] and account.services[attribute].url) -}}
                  {%- else -%}
                    {{- _website_settings.social_urls and _website_settings.social_urls[attribute] -}}
                  {%- endif -%}
            {%- else -%}
                  {{- _website_settings[attribute] -}}
            {%- endif -%}
      {%- else -%}
            {%- if social_attribute -%}
                  {{- account.services and account.services[attribute] and account.services[attribute].url -}}
            {%- else -%}
                  {{- _account_settings_attributes[attribute] -}}
            {%- endif -%}
      {%- endif -%}
{%- endmacro %}


{% macro get_site_attribute(attribute, account_fallback=False) -%}
	    {{- _get_site_attribute(attribute, (attribute in social_attributes_extended), account_fallback) -}}
{%- endmacro %}
