<!doctype html>
<html class="no-js" lang="en">

  {% import "_macros/_utils.html" as bbUtils with context %}

  <head>
    <!-- POWERED BY BENTOBOX: http://getbento.com -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{{ account.site.title }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ account.site.meta_description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ account.site.meta_keywords }}{% endblock %}">
    <meta property="og:type" content="restaurant.restaurant">

    {% if account.logo %}
      <meta property="og:image" content="{{ account.logo|replace(" ", "%20") }}">
    {% endif %}

    <link rel="icon" href="{{ account.site.favicon }}" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    {% with -%}
      <script type="text/javascript">
        {% set google_fonts = [] -%}
        {%- set font_presets = {
            "raleway": "\"Raleway:400,700:latin\"",
            "montserrat": "\"Montserrat::latin\"",
            "josefin_sans": "\"Josefin+Sans::latin\"",
            "playfair_display": "\"Playfair+Display:400,700,900:latin\"",
            "arvo": "\"Arvo::latin\""
          }
        -%}
        {%- set theme_fonts = [theme.options.typography.body, theme.options.typography.h1, theme.options.button] -%}
        {%- if theme.options.typography.h2.fontpreset -%}
          {%- do theme_fonts.append(theme.options.typography.h2) -%}
        {%- endif -%}
        {%- if theme.options.footer.nav.fontpreset -%}
          {%- do theme_fonts.append(theme.options.footer.nav) -%}
        {%- endif -%}

        {%- for group in theme_fonts|groupby("fontpreset") -%}
          {%- if font_presets[group.grouper] -%}{%- do google_fonts.append(font_presets[group.grouper]) -%}{%- endif -%}
        {%- endfor -%}

        WebFont.load({
          {%- set comma = joiner(", ") -%}
          {%- if theme.options.other.customfonts and theme.options.other.customfonts|length > 0 %}
            {%- for group in theme.options.other.customfonts|groupby("fonttype") %}
              {%- if group.grouper == "typekit" and group.list|length > 0 and group.list[0].typekitid %}
                {{ comma() }}typekit: { id : "{{ group.list[0].typekitid }}" }
              {%- elif group.grouper == "fontscom" and group.list|length > 0 and group.list[0].fontscomid %}
                {{ comma() }}monotype: { projectId : "{{ group.list[0].fontscomid }}" }
              {%- elif group.grouper == "fontdeck" and group.list|length > 0 and group.list[0].fontdeckid %}
                {{ comma() }}fontdeck: { id : "{{ group.list[0].fontdeckid }}" }
              {%- elif group.grouper == "selfhosted" and group.list|length > 0 %}
                {%- set selfhosted_fonts = [] %}
                {%- for item in group.list %}
                  {% if item.selfhosted_name %}
                    {% do selfhosted_fonts.append("\"" ~ item.selfhosted_name ~ "\"") %}
                  {% endif %}
                {% endfor %}
                {%- if selfhosted_fonts|length > 0 %}
                  {{ comma() }}custom: { families: [{{ selfhosted_fonts|join(", ") }}] }
                {% endif %}
              {%- elif group.grouper == "google" %}
                {%- for item in group.list if item.googlefamilies %}
                  {%- do bbUtils.normalize_custom_google_font(item.googlefamilies, google_fonts) -%}
                {%- endfor %}
              {%- endif %}
            {%- endfor %}
          {%- endif -%}
          {%- if google_fonts|length > 0 %}
            {{ comma() }}google: { families: [{{ google_fonts|join(", ") }}] }
          {% endif -%}
        });
      </script>
      {%- if google_fonts|length > 0 %}
        <noscript>
            <style type="text/css">
              {# note: this method will only work with google fonts, but will not work correctly if multiple fonts are adding to a single field because
                we cannot strip a comma followed by a space in jinja (ie...Raleway::latin|Oswald::latin, Raleway:400,600:latin) -#}
                {%- set googlequery = google_fonts|join("|")|replace("\"", "")|replace("'", "")|replace(", ", "") -%}
                <link href="https://fonts.googleapis.com/css?family={{ googlequery }}" rel="stylesheet" type="text/css">
            </style>
        </noscript>
      {%- endif %}
    {% endwith -%}

    <link rel="stylesheet" href="{{ scss('main.scss', account) }}" />

    <script src="{{ static('bower_components/modernizr/modernizr.js') }}"></script>
    <script src="{{ static('js/video.js') }}"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ account.services.google_analytics.tracking_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {{ theme.options.other.head_code|safe }}
  </head>
  <body data-video="{{ theme.options.background.video }}">
    {% block body %}{% endblock %}

    <div id="modal">
      <div class="modal-container">
      <form role="form" action="/v2/email_provider_subscribe/">

        <div style="display: none;">
          <label>leave this field blank
            <input type="text" name="comment_body" value="" />
          </label>
        </div>

        <div class="field-wrap">
          <label for="first_name" class="sr-only">Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Name">
        </div>
        <div class="field-wrap">
          <label for="email" class="sr-only">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email*">
        </div>

        <div class="success">
          Success! Thank you for signing up.
          <a href="#" class="button" id="close">Close</a>
        </div>
        <div class="error">
          An error occurred.
        </div>
        <a
          href="#"
          class="button"
          id="submit"
          style="{% if theme.options.button.uppercase %}text-transform: uppercase;{% endif %}"
        >
          Submit
        </a>
      </form>
      </div>
    </div>

    <script src="{{ static('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static('js/bigvideo.js') }}"></script>
    <script src="{{ static('js/app.js') }}"></script>

    {{ theme.options.other.scripts|safe }}
  </body>
</html>
