{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <header>
      {% if bbUtils.get_site_attribute('logo') %}
        <img src="{{ bbUtils.get_site_attribute('logo') }}" alt="{{ bbUtils.get_site_attribute('site_title') }}">
      {% else %}
        <h1>{{ bbUtils.get_site_attribute('site_title') }}</h1>
      {% endif %}
    </header>
    <main>
      {{ theme.options.content.main }}
        {% set is_social_circle = theme.options.style.social_circle %}
       <nav>
        {% for platform in bbUtils.social_icons|map(attribute="key")|list %}
          {% set social_media_url = bbUtils.get_site_social_attribute(platform) %}
          {% if social_media_url %}
            <a class="{{ 'fas' if platform == 'social_icon_email_address' else 'fab'}} {{bbUtils.get_social_icon(platform)}}" title="{{platform}}" target="_blank" rel="noopener" href="{{social_media_url}}"> <span class="sr-only">{{item.name}}</span></a>
          {% endif %}
       {% endfor %}
       </nav>

      {% if theme.options.button.text and account.newsletter %}
        <a
          id="open-modal"
          class="button"
          href="#"
          style="{% if theme.options.button.uppercase %}text-transform: uppercase;{% endif %}"
        >
          {{ theme.options.button.text }}
        </a>
      {% endif %}
    </main>
    <footer>
    {{ theme.options.content.footer }}
    </footer>
  </div>
{% endblock %}
