{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <header>
      {% if account.logo %}
        <img src="{{ account.logo }}" alt="{{ account.site.title }}">
      {% else %}
        {{ account.site.title }}
      {% endif %}
    </header>
    <main>
      {{ theme.options.content.main }}
      <nav>
        {% set is_social_circle = theme.options.style.social_circle %}
        {% if account.services.twitter %}
        <a class="socicon-twitter" title="twitter" target="_blank" href="{{ account.services.twitter.url }}"></a>
        {% endif %}
        {% if account.services.facebook %}
          <a class="socicon-facebook" title="facebook" target="_blank" href="{{ account.services.facebook.url }}"></a>
        {% endif %}
        {% if account.services.instagram %}
          <a class="socicon-instagram" title="instagram" target="_blank" href="{{ account.services.instagram.url }}"></a>
        {% endif %}
        {% if account.services.tripadvisor %}
          <a class="socicon-tripadvisor" title="tripadvisor" target="_blank" href="{{ account.services.tripadvisor.url }}"></a>
        {% endif %}
        {% if account.services.foursquare %}
          <a class="socicon-foursquare" title="foursquare" target="_blank" href="{{ account.services.foursquare.url }}"></a>
        {% endif %}
        {% if account.services.yelp %}
          <a class="socicon-yelp" title="yelp" target="_blank" href="{{ account.services.yelp.url }}"></a>
        {% endif %}
        {% if account.services.google_plus %}
          <a class="socicon-googleplus" title="google plus" target="_blank" href="{{ account.services.google_plus.url }}"></a>
        {% endif %}
        {% if account.services.social_icon_email_address %}
           <a class="ss-email" target="_blank" title="email" href="mailto:{{ account.services.social_icon_email_address.url }}">Email</a>
        {% endif %}
      </nav>

      {% if theme.options.button.text and account.newsletter %}
        <a id="open-modal" class="button" href="#">
          {{ theme.options.button.text }}
        </a>
      {% endif %}
    </main>
    <footer>
    {{ theme.options.content.footer }}
    </footer>
  </div>
{% endblock %}
