name: Fortify Scan - Dev

on:
  schedule:
      - cron: '15 0 1 */2 *'  # Run every 2 months on day 1 at 00:15 UTC
  workflow_dispatch:

jobs:
  fortify-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Get Auth App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.GH_WORKFLOWS_AUTH_APP_ID }}
          private-key: ${{ secrets.GH_WORKFLOWS_AUTH_PRIVATE_KEY }}  
          owner: getbento
          
      - name: Checkout bentobox-github-ci
        uses: actions/checkout@v4
        with:
          path: bentobox-github-ci
          ref: main
          repository: getbento/bentobox-github-ci
          token: ${{ steps.app-token.outputs.token }}

      - name: Run FOD scan action
        uses: ./bentobox-github-ci/.github/actions/fortify-scan-dev
        with:
          server_url: ${{ github.server_url }}
          repository: ${{ github.repository }}
          run_id: ${{ github.run_id }}
          FOD_SLACK_WORKFLOW_WEBHOOK_URL: ${{ secrets.FOD_SLACK_WORKFLOW_WEBHOOK_URL }}
          FOD_RELEASE_ID_DEV: ${{ secrets.FOD_RELEASE_ID_DEV }}
          FOD_API_KEY: ${{ secrets.FOD_API_KEY }}
          FOD_API_SECRET: ${{ secrets.FOD_API_SECRET }}